.js-template{
  background-color: #ffff00 !important;
  color: #000000 !important;
  font-weight: 700;
}

.vertical-align{
  margin: 0;
}

.btn-js{
  background-color: #ffff00 !important;
  color: #000000 !important;
  font-weight: 600;
  transition: .3s;
  &:hover{
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .3);
    transition: .3s;
  }
  &:active{
    box-shadow: 0 1px 15px 0 rgba(0, 0, 0, .1);
    transition: .3s;
  }
}